*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-auto-rows:minmax(0, auto);
    background-color: #fff;
}

header{
    height: 80px;
    grid-column: 2/5;
    grid-row: 1;
    background-color: rgba(0,123,255);
}

.bar{
    grid-column: 1/-1;
    grid-row: 1;
    background-color: rgba(0,123,255);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    grid-column: 5/8;
    grid-row: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-weight: 800;
    font-size: 20px ;

}
.hero{
    height: 406px;
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
    background-image: url('images/pexels-kelly-1179532-4320468.jpg');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size:cover;
    filter: brightness(75%);
}


main{
    height: 1073px;
    grid-column: 2/8;
    grid-row: 3;
    background-color: rgba(0,0,0,.03);
}

.subgrid{
    display: grid;
    grid-template-columns:repeat(4, minmax(0, 262.5px));
    grid-template-rows: subgrid;
}

.bluesquare1{
    width: 200px;
    height: 200px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.bluesquare2{
    width: 200px;
    height: 200px;
    grid-column: 3/5;
    grid-row: 1/2;
}

footer{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 45px;
    grid-column: 2/8;
    grid-row: 4;
    background-color: rgba(0,123,255);
    color: #fff;
    padding: 5px 20px;
}

.left-text{
    font-weight: bold;
}

.right-text{
    display: flex;
    flex-direction: column;
    text-align: right;
}
